<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>About</h1>
    </section>

    <section class="content">
      <p class="lead">
        Meat | Application
      </p>
      <p class="lead">
        License
      </p>
      <p class="lead">Copyright 2020</p>
      <p class="lead">ABCDE</p>
      <p class="lead">fgeh</p>
      <p class="lead">asdghg</p>
      <p class="lead">sdgdhfgsadasd</p>
      <p class="lead">sdghfjesdfg</p>
    </section>
  </div>
</div>